<div class="form-container">
	<div class="form">
		<h3>Create an account</h3>
		<form>
			<input [(ngmodel)]="name" type="text" placeholder="Name"  />
			<input type="text" placeholder="User Name" [(ngmodel)]="userName"  />
			<input type="password" placeholder="Password" [(ngmodel)]="password" />
			<input type="email" placeholder="Email Address" [(ngmodel)]="emailId" />
			<input type="tel" placeholder="Phone Number" [(ngmodel)]="contactNo" />
			<button>Register</button>
		</form>
	</div>
</div>