<div class="main-section">

	<div class="form-container">
		<div class="form form1">
    		<h2>Create an account</h2>
    		<form>
      			<input type="text" placeholder="Username"/>
    			<input type="password" placeholder="Password"/>
      			<input type="email" placeholder="Email Address"/>
      			<input type="text" placeholder="Company code"/>
      			<input type="tel" placeholder="Phone Number"/>
      			<button>Register</button>
    		</form>
  </div>
		<div class="forgot-link"><a href="#">Forgot your password?</a></div>
	</div>
</div>