<div class="form-container">
	<div class="form">

		<h2>Create an account</h2>
		<form>
			<input type="text" placeholder="Organisation Name" name="orgName" [(ngModel)]="signupData.orgName" />
			<input type="text" placeholder="Full Name" name="cnctName" [(ngModel)]="signupData.cnctName" />
			<input type="email" placeholder="Email Address" name="emailId" [(ngModel)]="signupData.emailId" />
			<input type="tel" placeholder="Contact No" name="cnctNo" [(ngModel)]="signupData.cnctNo" />
			<input type="text" placeholder="User Name" name="userName" [(ngModel)]="signupData.userName" />
			<input type="password" placeholder="Password" name="password" [(ngModel)]="signupData.password" />
			<input type="password" placeholder="Confirm Password" name="confirmpassword" [(ngModel)]="confirmpassword" [ngModelOptions]="{standalone: true}" />
			<button (click)="signup()" name="register">Register</button>
		</form>
	</div>
</div>